build_output/*
code_drop/*

**/*.suo
**/**/*.suo
**/*.user
bin
obj
_ReSharper*

*.csproj.user
*.resharper.user
*.resharper
*.ReSharper.user
*.ReSharper
*.cache
*~
*.swp
*.bak
*.orig
*.vspscc
*.vssscc
*.vsmdi
*.testsettings
*lint*
*.log
*.Cache
*.StyleCop

TestResult.xml
submit.xml
src/tests/*
tests/*
doc/*
SolutionVersion.cs
gems/lib/**/*

_ReSharper*/
_ReSharper.XLN
*.resharper
*.ReSharper

[Bb]in
[Dd]ebug*/
*/bin/*
*/obj/*
[Rr]elease*/

*.ncrunchproject
*.obj
*.pdb
*.user
!Cliffhanger.Shop.Service.csproj.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc


#ignore StyleCope cache
#StyleCop.Cache
[Ss]tyle[Cc]op.[Cc]ache


#ignore merc merge temp files
*.orig

/CliffhangerShopService/source/solutions/All/TestResults

*/obj/*


